          <h3 class="test-header">Лог аккаунтинга</h3>
	  <div class="test-body">
              <p>Обновляется раз в 5 минут. Записей в БД: {{.Total}}</p>
		<br>
              <form action="/acct-search" method="post">
	  
	      Поиск по <select name="fld" required maxlength="15"><option>usr</option><option>cmd</option></select>
	      <input type="text" name="val" maxlength="40" value=""><br/>
              Интервал времени (в формате 2016-11-13 08:49:04):
	      <table border="0">&nbsp;<input type="text" name="from" maxlength="25" value="-infinity">&nbsp;-&nbsp;<input type="text" name="to" maxlength="25" value="infinity">&nbsp;<input type="submit" value="Поиск">
              </form>
	      <p>Вывод будет ограничен 50-ю тысячами строк.</p>
	      <p>Данные за последний час:</p>
              <table class="table small">
                  <thead><th>Время UTC</th><th>Пользователь</th><th>IP устройства</th><th>Hostname</th><th>Команда</th><th>IP пользователя</th></thead>

