<h5 class="test-header">New account</h5>
<div class="test-body align-left">
    <p class="align-left">This account will be used in tacplus configuration and will be provisioned automatically.</p>
</div>
</div>
<div class="test-demo">
    <div class="test-body">
        <form action="/newuser/" class="form--inline" method="post">
            <fieldset class="no-legend">
                <ol class="fields">
                    <li>
                        <label class="field-label">Account name*</label>
                        <input type="text" class="input" value="" name="username" autofocus>
                        <div class="field-help"></div>
                    </li>
                    <li>
                        <label class="field-label">Subdivision</label>
                        <select class="input" name="subdiv" required>
                            {{range .Opt1}}<option>{{.}}</option>{{end}}
                        </select>
                    </li>
                    <li>
                        <label class="field-label">Permission</label>
                        <select class="input" name="perm" required>
                            {{range .Opt2}}<option>{{.}}</option>{{end}}
                        </select>
                    </li>
                    <li>
                        <label class="field-label">E-mail</label>
                        <input type="text" class="input" value="" name="mail">
                        <div class="field-help"></div>
                    </li>
                </ol>
            </fieldset>
            <div class="form-actions">
                <button type="submit" class="button round is-info">Create</button>
                <button type="reset" class="button round">Discard</button>
            </div>
        </form>
    </div>
</div>