<h2 class="test-header">Account "{{.Name}}" properties</h2>

<div class="test-body full">
    <form action="/edituser/{{.Name}}/" class="form--horizontal" method="post">
        <fieldset class="no-legend">
            <ol class="fields">
                <li>
                    <label class="field-label col span-4"></label>
                    <div class="field-col col span-8">
                        <input type="hidden" class="input" value="{{.Name}}" name="username">
                    </div>
                </li>
                <li>
                    <label class="field-label col span-4">Current subdivision</label>
                    <div class="field-col col span-8">
                        <div class="input-static">{{.Subdivision}}</div>
                    </div>
                </li>
                <li>
                    <label class="field-label col span-4">New subdivision</label>
                    <div class="field-col col span-8">
                        <select class="input" name="subdiv">
                            {{range .SubdivisionsList}}<option>{{.}}</option>{{end}}
                        </select>
                    </div>
                </li>
                <div class="divider"></div>
                <li>
                    <label class="field-label col span-4">Current permission</label>
                    <div class="field-col col span-8">
                        <div class="input-static">{{.Permission}}</div>
                    </div>
                </li>
                <li>
                    <label class="field-label col span-4">New permission</label>
                    <div class="field-col col span-8">
                        <select class="input" name="perm">
                            {{range .PermissionsList}}<option>{{.}}</option>{{end}}
                        </select>
                    </div>
                </li>
                <div class="divider"></div>
                <li>
                    <label class="field-label col span-4">E-mail</label>
                    <div class="field-col col span-8">
                        <input type="text" class="input" value="{{.Mail}}" name="m">
                    </div>
                </li>
                <li>
                    <label class="field-label col span-4">Status</label>
                    <div class="field-col col span-8">
                        <select class="input" name="status">
                            <option>active</option>
                            <option>suspended</option>
                        </select>
                    </div>
                </li>
                <li>
                    <label class="field-label col span-4">Password</label>
                    <div class="field-col col span-8">
                        <input type="password" class="input" value="" name="pwd">
                        <div class="field-help">If set, user must change password</div>
                    </div>
                </li>

                <li>
                    <label class="field-label col span-4"></label>
                    <div class="field-col col span-8">
                        <input type="checkbox" value="checkbox" name="act"> Allow access to network
                    </div>
                </li>
            </ol>
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="button is-info">Save</button>
        </div>
        <br><br>
        <div class="divider"></div><br>
        <div class="form-actions">
            <a href="/account/remove/{{.Name}}/" class="button round is-warning" role="button">Remove account</a>
        </div>
    </form>
</div>