<script src="js/demo.js"></script>
<h3 class="test-header">Accounts</h3>
<div class="test-body">
    <p><a href="/newuser/" class="button round is-info" role="button">Create new</a></p><br />
    <table class="table is-striped">
        <thead>
            <th>Name
                <!--				<a href="javascript:;">
                            Логин
                            <span class="sorter asc">
                                <span class="caret-up"></span>
                                <span class="caret-down"></span>
                            </span>
                    </a>-->
            </th>
            <th>Subdivision</th>
            <th>Permission</th>
            <th>E-mail</th>
            <th>Status</th>
            <th>Created (UTC)</th>
            <th>Password changed</th>
            <th>Created by</th>
        </thead>
        {{ range .Items}}
        <tr>
            <td><a href="/edituser/{{ .Name }}/">{{ .Name }}</a></td>
            <td>{{ .Subdivision }}</td>
            <td>{{ .Permission }}</td>
            <td>{{ .Mail }}</td>
            <td>{{ .Status }}</td>
            <td>{{ .CreatedTimestamp }}</td>
            <td>{{ .PasswordChangedTimestamp }}</td>
            <td>{{ .CreatedBy }}</td>
        </tr>
        {{ end}}
    </table>
    <p>
        Total {{ .Total }},
        active {{ .Active }},
        tmp_pass_not_chd {{ .PasswordNotChanged }},
        suspended {{ .Suspended }}
    </p>
    {{ if .MoreItems }}
    <p>{{ .ItemsPerPageLimit }} newest records shown, <a href="/users/?limit=0">show all</a></p>
    {{end}}
</div>