<h2 class="test-header">Новый пользователь</h2>
<div class="test-body full">
    <form action="/newuser/" class="form--horizontal" method="post">
        <fieldset class="no-legend">
            <ol class="fields">
                <li>
                    <label class="field-label col span-4">Логин* </label>
                    <div class="field-col col span-8">
                        <input type="text" class="input" value="" name="username" autofocus>
                        <div class="field-help">например, vchernomyrdin</div>
                    </div>
                </li>
                <li>
                    <label class="field-label col span-4">Подразделение*</label>
                    <div class="field-col col span-8">
                        <select class="input" name="subdiv">
                            {{range .Opt1}}<option>{{.}}</option>{{end}}
                        </select>
                    </div>
                </li>
                <li>
                    <label class="field-label col span-4">Права доступа*</label>
                    <div class="field-col col span-8">
                        <select class="input" name="perm">
                            {{range .Opt2}}<option>{{.}}</option>{{end}}
                        </select>
                    </div>
                </li>
                <li>
                    <label class="field-label col span-4">E-mail*</label>
                    <div class="field-col col span-8">
                        <input type="email" class="input" value="" name="mail">
                        <div class="field-help">Очень желательно, в будущем будет использоваться для восстановления
                            пароля</div>
                    </div>
                </li>
                <!--<li>
                            	<div class="field">
                            		<div class="field-col col span-8 push-4">
                                		<label class="input-checkbox"><input type="checkbox" name="manualpass" disabled>Использовать следующий пароль вместо сгенерированного автоматически:</label>
										<br><input type="password" class="input" value="" name="password" disabled>
                            		</div>
                        		</div>
							</li>-->
                <!--
                            <li>
                                <label class="field-label col span-4"></label>
                                <div class="field-col col span-8">
                                    <input type="password" class="input" value="" name="password">
                                    <div class="field-help"></div>
                                </div>
                            </li>
 -->
            </ol>
        </fieldset>
        <!--
					<fieldset>
                		<legend>Нестандартная конфигурация</legend>
                		<div class="field">
                    		<div class="field-col col span-8 push-4">
                        		<label class="input-checkbox"><input type="checkbox" name="checkbox">Я укажу пароль самостоятельно</label>
                    		</div>
						</div>
            		</fieldset>
-->
        <div class="form-actions">
            <button type="submit" class="button round is-info">Создать</button>
            <button type="reset" class="button round">Сбросить</button>
        </div>
    </form>
</div>