		<!-- 16 -->
                <h3 class="test-header">Антибрутфорс</h3>
                <div class="test-body">
	            <table class="table small">
	                <thead><th>IP атакующего</th><th>FQDN атакующего</th><th>Первая попытка</th><th>Последняя попытка</th></thead>
<!--

<h2>Антибрутфорс</h2></div>
		<table border='1'><tr><th>IP атакующего</th><th>FQDN атакующего</th><th>Первая попытка</th><th>Последняя попытка</th><th>Последнее устройство</th><th>Последний логин</th></tr>


<p>Каждый сервер ААА независимо считает ошибки аутентификации для каждого source IP и логина в скользящем временном окне (сейчас - 10 минут). Если счетчик ошибок достигает порога (сейчас - 20), доступ отключается на 10 минут на всех серверах.</p>
          <form action="/accounts/new" method="post">
	    <table border="0">
                <tr><td>Логин</td><td><input type="text" name="username"/> Пример: vchernomyrdin или v.chernomyrdin</td></tr>
                <tr><td>e-mail</td><td><input type="text" name="mail"/></td></tr>
                <tr><td>Подразделение</td><td><select name="l2div" required>{{range .Div2}}<option>{{.}}</option>{{end}}</select></td></tr>
		<tr><td>Права доступа</td><td><select name="perm" required>{{range .Permis}}<option>{{.}}</option>{{end}}</select></td></tr>
            </table><br/>
	    <input type="submit" value="Создать">
	  </form>
-->
