            <h3 class="test-header">Управление комплексом</h3>
	    <div class="test-body align-left">
	        <p>Пользователи, имеющие доступ к спискам логинов, прав доступа, журналам и другим конфиденциальным данным:</p>
	        <table class="table small align-left">
	            <thead><th>Пользователь</th><th>Роль</th></thead>

<!--          <h2>Права доступа</h2></div>
	  <table border='1'><tr><td><b>Группа</b></td><td><b>Описание</b></td><td><b>Создана</b></td><td><b>Состояние</b></td></tr>
-->
