            <h2 class="test-header">Права доступа "{{.Name}}"</h2>

            <div class="test-body full">
                <form action="/editpermission/{{.Id}}/" class="form--horizontal" method="post">
                    <fieldset class="no-legend">
                        <ol class="fields">
                            <li>
                                <label class="field-label col span-4">Имя</label>
                                <div class="field-col col span-8">
                                    <input type="text" class="input" value="{{.Name}}" name="name" size="80">
                                </div>
                            </li>
                            <li>
                                <label class="field-label col span-4">Описание</label>
                                <div class="field-col col span-8">
                                    <input type="text" class="input" value="{{.Descr}}" name="descr" size="80">
				    <div class="field-help"></div>
                                </div>
                            </li>
			    <!--
                            <li>
                                <label class="field-label col span-4"></label>
                                <div class="field-col col span-8">
                                <label class="input-checkbox"><input type="checkbox" name="active" {{.Active}} disabled> Доступно для выбора</label>
                                </div>
                            </li>
			    -->
                        </ol>
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="button is-info">Сохранить</button>
                    </div>
		    <!--
		    <br><br><div class="divider"></div><br>
                    <div class="form-actions">
		        <a href="/deletepermission/{{.Id}}/" class="button is-warning" role="button" disabled>Удалить</a>
                    </div>
		    -->
                </form>
            </div>

