<h3 class="test-header">Права доступа</h3>
<div class="test-body">
	<p><a href="/newpermission/" class="button round is-info" role="button">Create new</a></p><br />
	<table class="table is-striped">
		<thead>
			<th>Name</th>
			<th>Description</th>
			<th>Status</th>
			<th>Created (UTC)</th>
			<th>Created by</th>
		</thead>
		{{ range .Items}}
		<tr>
			<td><a href="/editpermission/{{ .Name }}/">{{ .Name }}</a></td>
			<td>{{ .Description }}</td>
			<td>{{ .Status }}</td>
			<td>{{ .CreatedTimestamp }}</td>
			<td>{{ .CreatedBy }}</td>
		</tr>
		{{ end}}
	</table>
	<p>
		Total {{ .Total }},
		active {{ .Active }},
		inactive {{ .Inactive }}
	</p>
</div>