<h3 class="test-header">Права доступа</h3>
<div class="test-body">
	<p><a href="/newpermission/" class="button is-info" role="button">Создать новую запись</a></p><br />
	<table class="table is-striped">
		<thead>
			<th>Имя</th>
			<th>Описание</th>
			<th>Статус</th>
			<th>Дата/время создания (UTC)</th>
			<th>Кем создано</th>
		</thead>
		{{ range .Items}}
		<tr>
			<td><a href="/editpermission/{{ .Name }}/">{{ .Name }}</a></td>
			<td>{{ .Description }}</td>
			<td>{{ .Status }}</td>
			<td>{{ .CreatedTimestamp }}</td>
			<td>{{ .CreatedBy }}</td>
		</tr>
		{{ end}}
	</table>
</div>