<h5 class="test-header">New subdivision</h5>
<div class="test-body align-left">
    <p class="align-left">This subdivision won't be used in tacplus configuration.</p>
</div>
</div>
<div class="test-demo">
    <div class="test-body">
        <form action="/newuser/" class="form--inline" method="post">
            <fieldset class="no-legend">
                <ol class="fields">
                    <li>
                        <label class="field-label">Subdivision*</label>
                        <input type="text" class="input" value="" name="subdiv" autofocus>
                        <div class="field-help"></div>
                    </li>
                </ol>
            </fieldset>
            <div class="form-actions">
                <button type="submit" class="button round is-info">Create</button>
                <button type="reset" class="button round">Discard</button>
            </div>
        </form>
    </div>
</div>