<h3 class="test-header">Подразделения</h3>
<div class="test-body">
	<table class="table is-striped">
		<thead>
			<th>МРФ/партнер</th>
			<th>Подразделение</th>
			<th>Описание</th>
			<th>Статус</th>
			<th>Дата/время создания (UTC)</th>
			<th>Кем создано</th>
		</thead>
		{{ range .Items}}
		<tr>
			<td>&nbsp;</td>
			<td>{{ .Name }}</a></td>
			<td>{{ .Description }}</td>
			<td>{{ .Status }}</td>
			<td>{{ .CreatedTimestamp }}</td>
			<td>{{ .CreatedBy }}</td>
		</tr>
		{{ end}}
	</table>
</div>