<h3 class="test-header">Subdivisions</h3>
<div class="test-body">
	<p><a href="/subdiv/new/" class="button round is-info" role="button">Create new</a></p><br />
	<table class="table is-striped">
		<thead>
			<th>Company</th>
			<th>Subdivision</th>
			<th>Description</th>
			<th>Status</th>
			<th>Created (UTC)</th>
			<th>Created by</th>
		</thead>
		{{ range .Items}}
		<tr>
			<td>&nbsp;</td>
			<td>{{ .Name }}</a></td>
			<td>{{ .Description }}</td>
			<td>{{ .Status }}</td>
			<td>{{ .CreatedTimestamp }}</td>
			<td>{{ .CreatedBy }}</td>
		</tr>
		{{ end}}
	</table>
	<p>
		total: {{ .Total }}<br>
		active: {{ .Active }}<br>
		inactive: {{ .Inactive }}<br>
	</p>
</div>