<script src="js/demo.js"></script>
<h3 class="test-header">Accounts</h3>
<div class="test-body">
    <p><a href="/newuser/" class="button is-info" role="button">Create new</a></p><br />
    <!-- <p>Всего записей: {{.Total}}, из них активно: {{.Active}}.</p> -->
    <table class="table is-striped">
        <thead>
            <th>Name
                <!--				<a href="javascript:;">
                            Логин
                            <span class="sorter asc">
                                <span class="caret-up"></span>
                                <span class="caret-down"></span>
                            </span>
                    </a>-->
            </th>
            <th>Subdivision</th>
            <th>Permission</th>
            <th>E-mail</th>
            <th>Status</th>
            <th>Created timestamp</th>
            <th>Password change timestamp</th>
            <th>CreatedBy</th>
        </thead>
        {{ range .Items}}
        <tr>
            <td><a href="/edituser/{{ .Name }}/">{{ .Name }}</a></td>
            <td>{{ .Subdivision }}</td>
            <td>{{ .Permission }}</td>
            <td>{{ .Mail }}</td>
            <td>{{ .Status }}</td>
            <td>{{ .CreatedTimestamp }}</td>
            <td>{{ .PasswordSetTimestamp }}</td>
            <td>{{ .CreatedBy }}</td>
        </tr>
        {{ end}}
    </table>
</div>